@{
    ViewBag.Title = "Employee List";

    SelectList ListItemSubject = ViewBag.ListItemSubject;
}
<h2 class="mb-4">Employee Details</h2>

<p>Please Select for Sorting by Subject.</p> @Html.DropDownList("ddlSubject", ListItemSubject, "", new { id = "ddlSubject", style = " width: 150px; background-color: #4CAF50;  cursor: pointer; color: white;  padding: 6px 15px;margin-top: 0px 0px;" })

<br />
<br />
<a class="btn btn-success" style="margin-bottom: 10px" data-toggle="modal" data-target="#exampleModalCenter" data-url="/Employee/AddOrEdit" data-type='add'> Add New Employee</a>

<table id="employeeTable" class="ui celled table" width="100%">
    <thead>
        <tr>
            <th>Name</th>
            <th>Position</th>
            <th>Office</th>
            <th>Age</th>
            <th>Salary</th>
            <th>Subject</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody></tbody>
    <tfoot>
        <tr>
            <th>Name</th>
            <th>Position</th>
            <th>Office</th>
            <th>Age</th>
            <th>Salary</th>
            <th>Subject</th>
            <th>Actions</th>
        </tr>
    </tfoot>
</table>
<link href="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.8.8/semantic.min.css" rel="stylesheet" />
<link href="https://cdn.datatables.net/1.12.1/css/dataTables.semanticui.min.css" rel="stylesheet" />

@section scripts{

    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div id="shaankds">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.12.1/js/dataTables.semanticui.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.8.8/semantic.min.js"></script>

    <script src="~/Scripts/dataTables.buttons.min.js"></script>
    <script src="~/Scripts/jszip.min.js"></script>
    <script src="~/Scripts/buttons.flash.min.js"></script>
    <script src="~/Scripts/pdfmake.min.js"></script>
    <script src="~/Scripts/buttons.html5.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>

    <script>
        //this is the main datatable for processing
        var dataTable;
        $(document).ready(function () {
            dataTable = $("#employeeTable").DataTable({
                //"dom": '<"top"i>rt<"bottom"lp><"clear">',   //for understanding this line means how they work then go to this project folder and then go to images folder and i save imgae on this folder please see...
                "dom": "Bflrtip",

                "ajax": {
                    "url": "/Employee/GetList",
                    "type": "POST",
                    "datatype": "json",
                    "data": function (d) {
                        d.string1 = $("#ddlSubject").val() === '' ? '0' : $("#ddlSubject").val()
                    }
                },
                "columns": [
                    { "data": "Name", "name": "Name" },
                    { "data": "Position", "name": "Position" },
                    { "data": "Office", "name": "Office" },
                    { "data": "Age", "name": "Age" },
                    { "data": "Salary", "name": "Salary" },
                    { "data": "SubjectName", "name": "Subject" },
                    {
                        "data": "EmployeeId", "render": function (data) {
                            return "<a class='btn btn-primary btn-sm' data-url='/Employee/AddOrEdit?id=" + data + "' data-type='edit' data-toggle='modal' data-target='#exampleModalCenter' > Edit</a> <a class='btn btn-danger btn-sm' onclick =Delete(" + data + ") >Delete</a>"
                        },
                        "width": "150px"
                    }
                ],
                "serverSide": true,
                "order": [0, "asc"],
                "processing": true,
                "bDestroy" : true,

                "language": {
                    "processing": "Processing... Please wait ",
                    "emptyTable": "No data found, Please click on <b>Add New</b> button"
                }

            });
        });

        //datatable reload after select item from dropdown
        $('#ddlSubject').on('change', function (dropdown) {
            dataTable.ajax.reload();
        });

        //model call for add and edit functionalities
        $('#exampleModalCenter').on('shown.bs.modal', function (event) {
            $('#shaankds').html('<img src="/images/200.gif" />');
            var url = '';
            url = event.relatedTarget.getAttribute('data-url');
            $.get(url)
                .done(function (response) {
                    $('#shaankds').html(response);
                });
            dataTable.ajax.reload();
        });

        //through swal for delete functionality
        function Delete(id) {
            const swalWithBootstrapButtons = Swal.mixin({
                customClass: {
                    confirmButton: 'btn btn-success',
                    cancelButton: 'btn btn-danger'
                },
                buttonsStyling: false
            });
            swalWithBootstrapButtons.fire({
                title: 'Are you sure?',
                text: "You won't be able to revert this!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonText: 'Yes, delete it!',
                cancelButtonText: 'No, cancel!',
                reverseButtons: true
            }).then((result) => {
                if (result.isConfirmed) {
                    {
                        $.ajax({
                            type: "POST",
                            url: '@Url.Action("Delete","Employee")/' + id,
                            success: function (data) {
                                dataTable.ajax.reload();
                            }
                        });
                    }
                    swalWithBootstrapButtons.fire(
                        'Deleted!',
                        'Your file has been deleted.',
                        'success'
                    )
                } else if (result.dismiss === Swal.DismissReason.cancel) {
                    swalWithBootstrapButtons.fire(
                        'Cancelled',
                        'Your imaginary file is safe :)',
                        'error'
                    )
                }
            });

        }
    </script>

}