@{
    ViewBag.Title = "Index";
}

<h2 class="mb-4">User Details</h2>
<a class="btn btn-success" style="margin-bottom: 10px" data-toggle="modal" data-target="#exampleModalCenter" data-url="/Role/CreateNewRole" data-type='add'> Add New Role</a>

<table id="roleTable" class="ui celled table" width="100%">
    <thead>
        <tr>
            <th>Username</th>
            <th>Email</th>
            <th>Role</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>

<link href="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.8.8/semantic.min.css" rel="stylesheet" />
<link href="https://cdn.datatables.net/1.12.1/css/dataTables.semanticui.min.css" rel="stylesheet" />

@section scripts{

    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div id="shaankds">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.12.1/js/dataTables.semanticui.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.8.8/semantic.min.js"></script>

    <script src="~/Scripts/dataTables.buttons.min.js"></script>
    <script src="~/Scripts/jszip.min.js"></script>
    <script src="~/Scripts/buttons.flash.min.js"></script>
    <script src="~/Scripts/pdfmake.min.js"></script>
    <script src="~/Scripts/buttons.html5.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>

    <script>
        var dataTable;
        $(document).ready(function () {
            dataTable = $("#roleTable").DataTable({
                //"dom": "Bflrtip",
                "Processing": true, // for show progress bar
                "serverSide": true, // for process server side
                //"filter": true, // this is for disable filter (search box)
                //"orderMulti": true, // for disable multiple column at once
                //"pageLength": 10,
                "bSortable": true,
                "paging": true,
                "ajax": {
                    "url": "/Role/ServerSide",
                    "type": "POST",
                    "datatype":"json"
                },
                //"columnDefs": [{
                //    "order": [[0]],
                //    "targets": [0],
                //    "visible": false,
                //    "searchable": false,
                //    "language": {
                //        "emptyTable": "No record found. Please click on Add User for create new record.",
                //        "Processing": '<i class="fa fa- refresh fa- spin">Laoding...</i>'
                //    },
                //}],
                "columns": [
                    { "data": "username", "name": "Username" },
                    { "data": "email", "name": "Email" },
                    { "data": "roles_list", "name": "Role" },
                    {
                        "data": "id", "render": function (data) {
                            return "<a class='btn btn-primary btn-sm' data-url='/Role/EditUser?id=" + data + "' data-type='edit' data-toggle='modal' data-target='#exampleModalCenter' > Edit</a> <a class='btn btn-danger btn-sm' onclick =Delete(" + data + ") >Delete</a>"
                        },
                        "width": "150px"
                    }
                ],
                //"order": [0, "asc"],
                //"serverSide": true,
                //"filter": true,
                //"orderMulti": true,
                //"pageLength": 10,
                //"bSortable": true,
                //"paging": true,

                //"processing": true,

                //"columnDefs": [{
                //    "order": [[0]],
                //    "targets": [0],
                //    "visible": false,
                //    "searchable": false,
                    "language": {
                        "processing": "Processing... Please wait ",
                        "emptyTable": "No data found, Please click on <b>Add New</b> button"
                    },
                //}],
            });
        });

        $('#exampleModalCenter').on('shown.bs.modal', function (event) {
            $('#shaankds').html('<img src="/images/200.gif" />');
            var url = '';
            url = event.relatedTarget.getAttribute('data-url');
            $.get(url)
                .done(function (response) {
                    $('#shaankds').html(response);
                });
        });

        function Delete(id) {
            const swalWithBootstrapButtons = Swal.mixin({
                customClass: {
                    confirmButton: 'btn btn-success',
                    cancelButton: 'btn btn-danger'
                },
                buttonsStyling: false
            });
            swalWithBootstrapButtons.fire({
                title: 'Are you sure?',
                text: "You won't be able to revert this!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonText: 'Yes, delete it!',
                cancelButtonText: 'No, cancel!',
                reverseButtons: true
            }).then((result) => {
                if (result.isConfirmed) {
                    {
                        $.ajax({
                            type: "POST",
                            url: '@Url.Action("DeleteUser", "Role")/' + id,
                            success: function (data) {
                                dataTable.ajax.reload();
                            }
                        });
                    }
                    swalWithBootstrapButtons.fire(
                        'Deleted!',
                        'Your Data has been deleted.',
                        'success'
                    )
                } else if (result.dismiss === Swal.DismissReason.cancel) {
                    swalWithBootstrapButtons.fire(
                        'Cancelled',
                        'Your imaginary data is safe :)',
                        'error'
                    )
                }
            });

        }
    </script>

}