@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>userdetails</title>
</head>
<body>
    <div>
        @*  @TempData["reqValue"]*@
        <img src="@Url.Content(customClaims.ProfilePic(User))" alt="" height=100 width=200 />
    </div>
</body>
</html>