@model CrudWithJQueryDatatable.viewModel.forgotPass
@{
    Layout = null;
}

@using (Html.BeginForm())
{
    <!DOCTYPE html>

    <html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <link href="~/Content/login.css" rel="stylesheet" />
        <title>Verify Account</title>
    </head>
    <body>
        <div class="login">
            <h1>Account verification</h1>
            <div class="text-success">
                @ViewBag.message
            </div>
            <table>
                <tr>
                    <td>
                        @Html.LabelFor(a => a.email)
                    </td>
                    <td>
                        @Html.TextBoxFor(a => a.email)
                    </td>
                    <td>
                        @Html.ValidationMessageFor(a => a.email)
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <input type="submit" value="Submit" class="btn btn-success" />
                    </td>
                    <td></td>
                </tr>
            </table>
        </div>
    </body>
</html>
}